<div class="page-header">
  <h1>Example Page Header</h1>
</div>
<div class="jumbotron">

</div>
<div class="well well-sm">
  Small Well
</div>
<div class="container-fluid">
  <app-quote-display></app-quote-display>
</div>
<div class="container-fluid outterfooter">
  <div class="footer">
    <div class="row justify-content-center">
      <div class="col-md-5 side">
        <p>knmm klnklmklmkl</p>
      </div>
      <div class="col-md-5 side">
        <p>nbhjbvjnernjkdr</p>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
