<div class="container-fluid">
    <div class="col-md-12 display">
      <h3>Quote Details</h3><br>
      <form>
        <div class="form-group">
          <label for="description">Quote</label>
          <textarea class="form-control" id="quote" rows="4" required></textarea>
        </div>
        <div class="form-group">
          <label for="name">Quote Author</label>
          <input type="text" required class="form-control" id="author">
        </div>
        <div class="form-group">
          <label for="name">Description</label>
          <textarea class="form-control" name="name" id="description" rows="4" required></textarea>
        </div>
        <button type="button" name="button">Return</button>
      </form>
    </div>
</div>
